html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.box{
  border: 1px solid black;
  width: 50%;
  height: 50%;
  float: left;
}
.outline-box{
  height: 400px;
  width: 400px;
  border: 1px solid black;
  /*display: flex;*/
}
.red{
  background-color: red;
}
